//margin
//0-5,6 ranks
//.mt-1 => margin-top-1
$spacing-types:(p:"padding", m:"margin");
$spacing-direction:(t:"top", b:"bottom", l:"left", r:"right");
$spacing-base-size:1rem;
$spacing-size:(0:0, 1:0.25, 2:0.5, 3:1, 4:1.5, 5:3);
